.header__logo{
    background-image: url("../../../images/logo.svg");
    width:143px;
    height:33px;
    background-position:center;
    background-size:cover;
}
@media screen and (max-width:1000px){
    .header__logo{
        margin-left:27px;
     
    }
}

@media screen and (max-width:600px){
    .header__logo{
        width:103px;
        height:24px;       
    }
}
