.profile__name{
    margin: 18px 17px 16px 30px;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
}
@media screen and (max-width:850px){
    .profile__name{
        max-width: 270px;
        font-size: 30px;
    }
}
@media screen and (max-width:710px){
    .profile__name{
        max-width: 200px;
        font-size: 27px;
    }
}
@media screen and (max-width:400px){
    .profile__name{
        margin-bottom: 14px;
        margin-right: 8px;
        margin-left:49px;
        line-height: 40px;
    }
}
