.profile__activity{
    margin: 0 0 0 30px;
    font-size: 18px;
    line-height: 22px;
    max-width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media screen and (max-width:850px){
    .profile__activity{
       max-width:270px;
       font-size: 16px;
        
    }
}
@media screen and (max-width:710px){
    .profile__activity{
        max-width: 200px;
        font-size: 14px;  

    }
}
@media screen and (max-width:600px){
    .profile__activity{
       text-align: center;
        
    }
}

